*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/PedidoApp/nbproject/private/
/PedidoApp/build/
/AprendiendoJava/nbproject/private/
/AprendiendoJava/build/
/viaexitos/nbproject/private/
/viaexitos/build/
/clase2/Educ/nbproject/private/
/clase2/EducApp/nbproject/private/
/clase3/MateApp/nbproject/private/
/clase3/MateApp/build/
/clase3/AprendiendoJava/nbproject/private/
/clase3/AprendiendoJava/build/
/clase3/BuenSabor/nbproject/private/
/clase3/BuenSabor/build/
/clase3/VentaApp/build/
/clase3/VentaApp/nbproject/private/